.claim-button {
  width: 112px;
  height: 40px;
  background: #0ed4ff;
  border-radius: 3px;
  border: none;
  font-family: IBM Plex Mono, Roboto, Helvetica Neue;
  cursor: pointer;
  margin: 0.5rem 1.5rem 0.5rem 0;
}
